.body {
  text-align: center;
  margin: auto;
  width: 50vh;
  height: 100%;
}
#whole_screen {
  position: relative;
  width: 50vh;
  height: 100%;
  background-color: ivory;
  border: 1px solid black;
}
#main_screen {
  margin-bottom: 100px;
}
.shopping_subject {
  background-color: greenyellow;
  width: 50vh;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
}
.shopping_list {
  display: flex;
  justify-content: space-between;
  width: 50vh;
  height: 50%;
}
.item_name {
  flex-basis: 50%;
  text-align: left;
  padding-left: 30px;
  display: inline-block;
  margin: 3px 0;
  line-height: 47px;
}
.trash_can_icon {
  flex-basis: 20%;
  font-size: 20px;
  text-align: center;
  line-height: 53px;
}
.listup_box {
  position: relative;
  transform: translate(70px, 0);
}
.plus_btn {
  width: 25px;
  height: 25px;
  transform: translate(100px, 0);
  border: 2px solid black;
  text-align: center;
  border-radius: 50%;
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: burlywood;
}
h3 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  body {
    margin: auto;
    margin-top: 20px;
    text-align: center;
  }
  #whole_screen {
    width: 80%;
    margin: auto;
  }
  .shopping_subject {
    width: 100%;
  }
  .shopping_list {
    width: 100%;
  }
  .listup_box {
    transform: translate(0, 0);
  }
  .plus_btn {
    transform: translate(0, 0);
    margin: auto;
    margin-top: 20px;
  }
}
